<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPost</title>
</head>
<body>
    <h1 style="color: red;">Creation of New Post</h1>
    <form method="post" action="/posts">
        <p style="color: rgb(153, 57, 57);">Enter Username</p>
        <input placeholder="Enter Username" name="username">
        <p style="color: rgb(153, 57, 57);">Enter Content</p>
        <textarea placeholder="Enter Content" name="content" cols="34" rows="10"></textarea>
    </br>
        <button >Done</button>
    </form>
</body>
</html>